<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/img/favicon.ico" rel="icon">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/resize.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/script.js"></script>
    {% block header %}{% endblock %}  
    <title>{% block title %}{% endblock %} | sentence tagger</title>
</head>

<body class="body" {% block page_name %}{% endblock %}>
    <div class="header">
        <button class="header-name" onclick="window.location.href = '/';"><div class="header-title">Sentence tagger</div><div class="by-who">by US</div></button>
        <div class="menu-strip">
            <div class="left">
                <button class="home-button" onclick="window.location.href = '/';">HOME</button>
            </div>
            <!-- <div class="right">
                <button class="register-button" onclick="window.location.href = '/register';">BUTTON 1</button>
                <button class="login-button" onclick="window.location.href = '/login';">BUTTON 2</button>
            </div> -->
            <button id="menu-dropdown-button" class="menu-dropdown-button">MENU</button>
        </div>
    </div>
    
    <div class="menu-strip">
        <div id="menu-items" class="menu-items">
            <button class="home-button" onclick="window.location.href = '/';">HOME</button>
            <!-- <button class="register-button" onclick="window.location.href = '/register';">BUTTON 1</button>
            <button class="login-button" onclick="window.location.href = '/login';">BUTTON 2</button> -->
        </div>
    </div>
    <div id="alert" class="alert" {% if not alert %} style="display: none;" {% endif %}>
        <div class="alert-content">
            <div class="alert-box">
                <div class="alert-close"> &times; </div>
                <p id="alert-stuff">
                    {% if alert %}
                    <div class='form'><div class='alert-desc'> {{ alert }} </div>
                    <button class='form-button' id='okay-button'>OKAY</button></div> 
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div id="loading" class="alert" style="display: none;">
        <div class="alert-content">
            <div class="alert-box">
                <!-- <iframe src="https://giphy.com/embed/dYfbdQUuQjYDgdbvy3" margin="auto" width="100%" height="150px" frameBorder="0"></iframe></div> -->
                <!-- <img id="gif" src="https://media3.giphy.com/media/dYfbdQUuQjYDgdbvy3/200w.gif"> -->
                <img id="gif" src="/static/img/loading.gif">
            </div>
        </div>
    </div>

    {% block main %}{% endblock %}
    <div id="footer"></div>
</body>
