
@font-face {
  font-family: 'LuloCleanW01-OneBold';
  src: url('LuloCleanW01-OneBold.eot?#iefix') format('embedded-opentype'),  url('LuloCleanW01-OneBold.woff') format('woff'), url('LuloCleanW01-OneBold.ttf')  format('truetype'), url('LuloCleanW01-OneBold.svg#LuloCleanW01-OneBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
